<!-- Header -->
<header class="toolbar" role="banner">
    <h1 class="headerTitle">Local<strong>Air</strong></h1>
</header>


<div class="content" role="main">
    <mat-sidenav-container class="map-page-container">
        <mat-sidenav #queryToolsSidenav position="start" mode="side" opened class="query-sidenav">
            <h2>Query Tools</h2>
            <app-query-tools></app-query-tools>

        </mat-sidenav>

        <mat-sidenav-content class="map-page-content">
            <app-map></app-map>
        </mat-sidenav-content>
        <mat-sidenav #queryResultsSidenav position="end" mode="side" opened="false" class="results-sidenav">
            Query Results
        </mat-sidenav>
    </mat-sidenav-container>
</div>

<router-outlet></router-outlet>
